body
{   margin:0px;
padding:0px;
	background-image:url("fond.PNG");
	background-repeat:no-repeat;
	height: 100%;
	width: 99%;
	-webkit-background-size: cover; 
  background-size: cover; 
  font-family:Lucida Bright;
  color:rgb(150,150,150);

}
#form_connexion
{
	margin: auto;
	
}
h1
{
	text-align: center;
}

h2
{
	text-align: center;
}

.lien
{
	text-align:center;
	
	margin-top:10%;
	
}

.cadre
{
	border:6px solid rgb(76,80,93); /*crée une bordure de 8px noir et continu*/ 
	height:50%;/*défini la hauteur de la bordure*/
	margin-left:50%;/*décale la bordure de la moitié vers la droite*/
	width:40%;	/*défini la largeur de la bordure*/
	background-color:rgb(86,91,110); /*défini le fond de la bordure*/
	border-radius:13px; /*arrondi les angles de la bordudre*/
}